{% extends "layouts/base.html.twig" %}

{% block content %}

<div class="relative overflow-x-auto sm:rounded-lg">
    <div class="text-right py-4">
        <button 
            type="button" 
            data-modal-target="createContactModal" 
            data-modal-show="createContactModal" 
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
        >
            Add New Contact
        </button>
    </div>

    <!-- Contacts Table -->
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Company
                </th>
                <th scope="col" class="px-6 py-3">
                    Date Created
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <td class="px-6 py-4">
                        {{ contact.name }}
                    </td>
                    <td class="px-6 py-4">
                        {{ contact.email }}
                    </td>
                    <td class="px-6 py-4">
                        {{ contact.company }}
                    </td>
                    <td class="px-6 py-4">
                        {{ contact.createdAt|date('Y-m-d') }}
                    </td>
                    <td class="px-6 py-4">
                        <a href="#" type="button" data-modal-target="editContactModal" data-modal-show="editContactModal" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        <a href="#" class="font-medium text-red-600 dark:text-red-500 hover:underline ms-2">Remove</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="mt-4">
        {{ knp_pagination_render(contacts) }}
    </div>

    {% include 'contact/edit_form.html.twig' %}
    {% include 'contact/create_form.html.twig' %}
</div>

{% endblock %}